.header {
    font-family: "Roboto", serif;
    font-size: 14px;
    line-height: 16px;


    &__callback {
        @media (min-width: 768px) {
            margin-top: 20px;
            height: 100px;
        }
        @media (min-width: 1000px) {
            margin-top: 0;
            height: auto;
        }
    }


    

    &__tel {
        position: relative;
        padding-left: 38px;
        font-size: 20px;
        line-height: 19px;

        @media (max-width: 900px) {
            font-size: 10px;
        }

        span {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #ee6a09;
        }
    }

    &__tel::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        background-image: url(../img/sprites/sprite.svg#tel);
        background-repeat: no-repeat;
        width: 24px;
        height: 31px;
    }
}