<div class="product-card">
    <div class="product-card__head">  
         <h3 class="product-card__title">Косметический</h3>
    </div>
    <div class="product-card__body">
        <p class="product-card__text">Самый экономичный способ устранить поверхностные повреждения и освежить внешний вид помещений. Включает в себя работы по отделке всех поверхностей от пола до потолка.</p>
        <div class="product-card__prices">

            <div class="product-card__price-box">
                <p class="product-card__price-title">Без материалов</p>
                <span class="product-card__price-cost">2970 </span>
            </div>

            <div class="product-card__price-box">
                <p class="product-card__price-title">Без материалов</p>
                <span class="product-card__price-cost">2970 </span>
            </div>

        </div>
    </div>
    <div class="product-card__footer">
        <button class="product-card__button">Получить точную
            смету бесплатно</button>
        <a href="" class="button__link">Что еще входит?</a>
    </div>
</div>