<div class="calc">
    <div class="col-12 calc__wrapper">
        <div class="row">
            <h2 class="calc__title"> Рассчитайте стоимость ремонта и  <br>получите генеральную уборку в <span class="section__accent-text">подарок!</span></h2>

        </div>
        <div class="row mt-4">
            <div class="col-lg-6">
                <p class="calc__field-description">Тип</p>
                <select class="form-select rounded-pill" aria-label="Default select example">
                    <option selected>Вторичка</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-lg-6">
                <p class="calc__field-description">Кол-во комнат</p>
                
                <select class="form-select rounded-pill" aria-label="Default select example">
                    <option selected>Студия</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                
                <p class="calc__field-description"><label for="customRange1" class="form-label">Площадь</label></p>

                <input type="range" class="form-range" id="customRange1">
            </div>
            <div class="col-lg-6">
               
                <p class="calc__field-description">Чей материал?</p>

                <select class="form-select rounded-pill" aria-label="Default select example">
                    <option selected>Наш</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <button class="calc__form-submit"><span>Посмотреть стоимость</span></button>

        </div>

        <div class="row justify-content-center mt-4">
            <div class="calc__footer-text">Стоимость будет на следующей странице</div>
        </div>

    </div>
</div>